<%= form_for @response, url: bbs_thread_responses_path(@bbs_thread.id) do |f| %>
  <% if alert.present? %>
    <% if alert.any? %>
      <div id="error_explanation">
        <h2><%= t('errors.template.header.other', count: alert.count) %></h2>

        <ul>
        <% alert.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label t('name') %> * <br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('address') %><br>
    <%= f.email_field :address %>
  </div>
  <div class="field">
    <%= f.label t('body') %> * <br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label t('password') %> * <br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit t('response.create') %>
  </div>
<% end %>
