<div class="response">
  <div class="header">
    <strong><%= t('name') %></strong>:<%= response.name %>,
    <strong><%= t('response.time') %></strong>:<%= response.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
    <%= link_to t('destroy'), bbs_thread_response_path(@bbs_thread.id, response.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <div class="body">
    <%= simple_format(response.body) %>
  </div>

  <hr>
</div>
