<div class="response">
  <div class="header">
    <strong><%= t('name') %></strong>:<%= response.name %>,
    <strong><%= t('response.time') %></strong>:<%= response.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
  </div>

  <div class="body">
    <%= simple_format(response.body) %>
  </div>

  <%= render file: 'responses/_delete_response', locals: { response: response } %>

  <hr>
</div>
