<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('body') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bbs_thread.responses.order("updated_at DESC").each do |response| %>
      <tr>
        <td><%= response.name %></td>
        <td><%= response.body %></td>
        <td><%= link_to t('destroy'), bbs_thread_response_path(@bbs_thread.id, response.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
