<div class="thread">
  <div class="header">
    <h3><%= link_to bbs_thread.title, bbs_thread %></h3>

    <strong><%= t('name') %></strong>:
    <%= bbs_thread.name %>

    <strong><%= t('thread.time') %></strong>:
    <%= bbs_thread.created_at.strftime('%Y/%m/%d %H:%M:%S') %>

    <%= render file: 'bbs_threads/_delete_bbs_thread', locals: { bbs_thread: bbs_thread } %>
  </div>

  <hr>
</div>
