<%= form_for(@bbs_thread) do |f| %>
  <% if @bbs_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bbs_thread.errors.count, "error") %> prohibited this bbs_thread from being saved:</h2>

      <ul>
      <% @bbs_thread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('name') %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('address') %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label t('title') %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t('body') %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label t('password') %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit t('thread.create') %>
  </div>
<% end %>
