<p id="notice"><%= notice %></p>

<h1><%= t('all.thread') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bbs_threads.each do |bbs_thread| %>
      <tr>
        <td><%= bbs_thread.name %></td>
        <td><%= link_to bbs_thread.title, bbs_thread %></td>
        <td><%= link_to t('destroy'), bbs_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('thread.new'), new_bbs_thread_path %>
