<p id="notice"><%= notice %></p>

<%= link_to t('thread.new'), new_bbs_thread_path %>

<h1><%= t('all.thread') %></h1>

<table id="threads">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="page">
    <%= render @bbs_threads %>
  </tbody>
</table>

<br>

<%= paginate @bbs_threads %>
