<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bbs_thread.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @bbs_thread.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bbs_thread.body %>
</p>

<h2>Response</h2>

<%= render file: 'responses/_form', locals: { thread: @bbs_thread } %>
<%= render file: 'responses/index', locals: { responses: @bbs_thread.responses } %>

<%= link_to 'Edit', edit_bbs_thread_path(@bbs_thread) %> |
<%= link_to 'Back', bbs_threads_path %>
