<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @bbs_thread.name %>
</p>

<p>
  <strong><%= t('title') %>:</strong>
  <%= @bbs_thread.title %>
</p>

<p>
  <strong><%= t('body') %>:</strong>
  <%= @bbs_thread.body %>
</p>

<h2><%= t('all.response') %></h2>

<%= render file: 'responses/_form' %>
<%= render file: 'responses/index' %>

<%= link_to t('back'), bbs_threads_path %>
