<p id="notice"><%= notice %></p>

<div class="header">
  <h1><%= @bbs_thread.title %></h1>

  <strong><%= t('name') %></strong>:
  <%= @bbs_thread.name %>

  <strong><%= t('thread.time') %></strong>:
  <%= @bbs_thread.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
</div>

<div class="body">
  <p>
    <%= simple_format(@bbs_thread.body) %>
  </p>
</div>

<hr size="3" noshade>

<h2><%= t('response.label') %></h2>
<%= render file: 'responses/_form' %>

<hr size="3" noshade>

<div id="responses">
  <div class="page">
    <h2><%= t('all.response') %></h2>
    <%= render @responses %>
  </div>
</div>

<%= paginate @responses %>
